@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body{
  background: #02031e;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  max-height: 200vh;
}

hr{
  width: 90%;
}


.head{
  color: #fff;
  font-weight: 900;
  letter-spacing: 3px;
  background-image: linear-gradient(  To right ,deepskyblue, salmon , #0575E6, red , white);
  -webkit-background-clip: text;
  background-position: absolute;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: animatedText 2s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}


.box{
  width: 345px;
  height: 200px;
  background: url("images/bg.jpeg");
  background-size: cover;
  border: 2px solid transparent;
  display: block;
  margin-left: 5px;
}

.box input{
  margin-top: 70px ;
  color: white;
  background: #02031e;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-family: 'Montserrat' , sans-serif;
  height: 30px;
  box-shadow: 3px 3px 10px #ccc;
}

.box .msg-content{
  text-align: center;
  width: 210px;
  color: #fff;
  margin-top: 65px;
}

.box .btn button{
  padding: 5px;
  width: 150px;
  background: deepskyblue;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.container{
   display: block;
}

.main-content{
  color: #000;
  display: none;
  width: 100%;
}

.rain{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/rain.png);
  background-size: cover;
  animation: rain 0.1s linear infinite;
}


@keyframes rain{
   0%{
     background-position: 0 0;
   }
   
   100%{
    background-position: 600% 100%;
   }
}


.content{
  width: 87%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #fff;
  background: white;
  color: black;
  border-radius: 10px;
  font-family: 'Montserrat' , sans-serif;
  display: none;
}

.talk{
  font-size: 38px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 2px solid #fff;
  background-size: cover;
  background: url(images/mic.png);
  background-size: cover;
  float: center;
  display: none;
}

.ip{
  color: white;
  display: none;
}

.top-bar{
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 3px solid salmon;
  display: flex;
  position: fixed;
  z-index: 2;
}

.top-bar button{
  width: 20%;
  height: 60px;
  font-size: 30px;
  border-top: none;
  border-bottom: none;
  background: transparent;

}

.refresh{
   position: absolute;
   left: 80%;
   border-left: 3px solid salmon;
}

.menu{
  border-right: 3px solid salmon;
  border-left: none;
  
}

.top-bar h1{
   position: absolute;
   margin-top: 7px;
   height: 100%;
   left: 27%;
}
