@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body{
  background: #02031e;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}
  
hr{
  width: 320px;
  display: none;
  color: white;
}

.head{
  color: #fff;
  font-weight: 900;
  letter-spacing: 3px;
  background-image: linear-gradient(  To right ,deepskyblue, salmon , #0575E6, red , white);
  -webkit-background-clip: text;
  background-position: absolute;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: animatedText 1.5s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}


.box{
  width: 345px;
  height: 200px;
  background: url("images/box-2.jpeg");
  background-size: cover;
  border: 2px solid transparent;
  display: block;
  margin-left: 5px;
}

.box .msg-content{
  text-align: center;
  width: 210px;
  color: #fff;
  margin-top: 60px;
}

.box .btn button{
  padding: 5px;
  width: 150px;
  background: deepskyblue;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.container{
   display: block;
}

.content{
  margin-top: 30px;
  width: 75%;
  height: 70px;
  overflow-y: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px solid salmon;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  font-family: 'Montserrat' , sans-serif;
  display: none;
}

.box-2{
   width: 345px;
   height: 200px;
   background: url("images/box-3.jpg");
   background-size: cover;
   border: 2px solid transparent;
   display: none;
   margin-left: 5px;
   margin-bottom: 30px;
   margin-top: 30px;
}

.talk{
  color: #fff;
  font-size: 30px;
  width: 230px;
  height: 70px;
  border: none;
  background-size: cover;
  background: url(images/button.jpg);
  background-size: cover;
  float: center;
  display: none;
  font-family: 'Montserrat' , sans-serif;
}


.top-bar{
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 999999px #fff;
  position: fixed;
  z-index: 2;
}


.refresh{
   height: 55px;
   width: 60px;
   left: 79%;
   position: absolute;
   border-left: 3px solid deepskyblue;
   border-right: 3px solid deepskyblue;
}


.top-bar h1{
   float: center;
   margin-top: 8.50px;
}


.extras{
  background: url(images/box-3.jpg);
  background-size: cover;
  margin-left: 5px;
  width: 345px;
  height: 200px;
  display: none;
}
    

.jet-engine{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black ;
    margin-top: 45px;
    margin-left: 45px;
    float: left;
}

.jet-engine2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black ;
    margin-top: 45px;
    margin-right: 45px;
    float: right;
}
      
    
@keyframes spin{
  from{ transform: rotate(0deg); }
  to{ transform:rotate(100000000deg); }
}
    
.weather-display{
  margin-left: 5px;
  width: 345px;
  height: 200px;
  border: none;
  background: url(images/box-3.jpg);
  background-size: cover;
  display: none;
}

.weather-display p{
  color: white;
}

#city{
  border-bottom: 2px solid #fff;
  width: 200px;
  padding-bottom: 8px;
  font-size: 25px;
  margin-top: 7px;
}

#weather-con{
  border-bottom: 2px solid #fff;
  width: 200px;
  padding-bottom: 8px;
}


.made-in-india{
   width: 310px;
   height: 170px;
   background: #f1f1f1 ;
   color: #fff;
   border-radius: 20px;
   border-top: 2px solid #fff;
   border-bottom: 2px solid #fff;
   display: block;
}

.made-in-india .logo{
  width: 220px;
  height: 120px;
  margin-top: 6px;
}


.questions{
  color: #fff;
  display: none;
  font-size: 20px;
  width: 230px;
  height: 70px;
  border: none;
  font-weight: 900;
  background-size: cover;
  background: url(images/button.jpg);
  background-size: cover;
  float: center;
  font-family: 'Montserrat' , sans-serif;
}